<section id="menu" class="menu-page-section">
	<div class="container">
		<h2 class="menu-title">RESTAURANT MENU</h2>
		<div class="menu-block">
			<div class="menu-item">
				<h3 class="menu-subtitle">Hot Meals</h3>
				<ul class="menu-list">
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Veal borshch with beans</h4>
								<p class="dish-text">
									Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, herbs, sour cream
								</p>
							</div>
							<p class="dish-weight">400 g</p>
							<p class="dish-price">₴240</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Cheese soup with chicken</h4>
								<p class="dish-text">
									Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
									greens
								</p>
							</div>
							<p class="dish-weight">400 g</p>
							<p class="dish-price">₴200</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Carbonara pasta</h4>
								<p class="dish-text">
									Tagliatelle pasta, bacon, tops, parmesan cheese, eggs, herbs
								</p>
							</div>
							<p class="dish-weight">350 g</p>
							<p class="dish-price">₴430</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Pork steak</h4>
								<p class="dish-text">
									Pork tenderloin, specialties, served with sweet chili sauce and
									vegetables
								</p>
							</div>
							<p class="dish-weight">400 g</p>
							<p class="dish-price">₴500</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">
									Pink salmon in a sauce of white
									wines
								</h4>
								<p class="dish-text">
									Delicate pink salmon, creamy white wine sauce
								</p>
							</div>
							<p class="dish-weight">400 g</p>
							<p class="dish-price">₴400</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu-item">
				<h3 class="menu-subtitle">Sides and Appetizers</h3>
				<ul>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Grilled vegetables</h4>
								<p class="dish-text">Zucchini, pepper, tomato, eggplant</p>
							</div>
							<p class="dish-weight">200 g</p>
							<p class="dish-price">₴230</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">French fries</h4>
								<p class="dish-text">Potatoes, tomato sauce</p>
							</div>
							<p class="dish-weight">150 g</p>
							<p class="dish-price">₴160</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Potatoes in the countryside</h4>
								<p class="dish-text">Potatoes, spices, spicy sauce</p>
							</div>
							<p class="dish-weight">150 g</p>
							<p class="dish-price">₴160</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Crispy pickles from the barrel</h4>
								<p class="dish-text">
									Pickled cucumber, pickled tomato, sauerkraut, carrots
									Korean style
								</p>
							</div>
							<p class="dish-weight">250 g</p>
							<p class="dish-price">₴350</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">
									Chicken wings in honey sauce
								</h4>
								<p class="dish-text">
									Chicken wings, mustard and honey sauce, served with carrots,
									celery and blue cheese sauce
								</p>
							</div>
							<p class="dish-weight">400 g</p>
							<p class="dish-price">₴420</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu-item">
				<h3 class="menu-subtitle">Salads</h3>
				<ul>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Caesar with chicken</h4>
								<p class="dish-text">
									Chicken fillet, lettuce, cherry tomatoes, parmesan cheese,
									croutons, Caesar sauce
								</p>
							</div>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴450</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Caesar with prawns</h4>
								<p class="dish-text">
									Tiger prawns, lettuce, cherry tomatoes, parmesan cheese,
									croutons, Caesar sauce
								</p>
							</div>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴300</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Greek salad</h4>
								<p class="dish-text">
									Fresh cucumber, tomato, bell pepper, olives, feta cheese,
									lettuce, sauce
								</p>
							</div>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴280</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<div class="dish-description">
								<h4 class="dish-name">Meat salad</h4>
								<p class="dish-text">
									Chicken fillet or pork tenderloin, fresh cucumber, tomato,
									bell pepper, ranch sauce
								</p>
							</div>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴300</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu-item">
				<h3 class="menu-subtitle">Desserts</h3>
				<ul>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Napoleon cake</p>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴300</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Poppyseed cake</p>
							<p class="dish-weight">230 g</p>
							<p class="dish-price">₴300</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Tiramisu</p>
							<p class="dish-weight">120 g</p>
							<p class="dish-price">₴260</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu-item">
				<h3 class="menu-subtitle">Hot Drinks</h3>
				<ul>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Tea black / green</p>
							<p class="dish-weight">500 ml</p>
							<p class="dish-price">₴100</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Espresso</p>
							<p class="dish-weight">30 ml</p>
							<p class="dish-price">₴100</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Americano</p>
							<p class="dish-weight">150 ml</p>
							<p class="dish-price">₴100</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Cappuccino</p>
							<p class="dish-weight">200 ml</p>
							<p class="dish-price">₴160</p>
						</div>
					</li>
					<li class="menu-type">
						<div class="menu-info">
							<p class="dish-name dish-description">Latte</p>
							<p class="dish-weight">200 ml</p>
							<p class="dish-price">₴160</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<button class="menu-button js-open-modal" type="button" data-modal="2">
			Book a table
		</button>
	</div>
</section>